/*

layout/footer.scss

*/

footer {
	text-align: center;
	padding: 50px 0 15px;

	ul {
		list-style-type: none;
		padding: 20px 0 0;

		li {
			display: inline-block;
			padding: 0 15px;
			color: #1c1c1c;

			a {
				color: #bbb;
				font-size: 12px;
			    text-transform: uppercase;
			    text-decoration: none;
			    letter-spacing: 2px;
			    font-weight: 400;
			    font-style: normal;

				 &:hover, &:active, &:focus {
			    	text-decoration: none;
			    }

			    &:hover {
			    	color: #1c1c1c;
			    }

			}
		}
	}

	p {
		font-size: 26px;
		color: #333;
		/*font-style: italic;*/
		font-weight: normal;
		/*text-transform: uppercase;*/

		&:nth-last-child(1) {
			font-family: "ff-meta-serif-web-pro",serif;
			text-transform: none;
			font-style: none;
			font-size: 16px;
			color: #1c1c1c;
		}
	}

	.social {
		padding: 20px 0 35px;

		i.fa.fa-envelope, i.fa.fa-twitter, i.fa.fa-facebook, i.fa.fa-instagram, i.fa.fa-linkedin {
			margin: 0 5px;
		    border-radius: 40px;
		    font-size: 23px;
		    background: transparent;
			-webkit-transition: all 170ms ease-in-out;
		    -moz-transition: all 170ms ease-in-out;
		    -o-transition: all 170ms ease-in-out;
		    transition: all 170ms ease-in-out;
		}

		i.fa.fa-envelope, i.fa.fa-twitter, i.fa.fa-instagram, i.fa.fa-linkedin {
		    padding: 10px 11px;
		    border: 2px solid #bbb;
		}

		i.fa.fa-envelope {
			padding: 10px;
			border: 2px solid #00a651;
			color: #00a651;

			&:hover {
				background: #00a651;
				color: #fff;
			}
		}

		i.fa.fa-twitter {
			border: 2px solid #55acee;
			color: #55acee;

			&:hover {
				background: #55acee;
				color: #fff;
			}
		}

		i.fa.fa-facebook {
			padding: 10px 14px;
		    border: 2px solid #3b5998;
		    color: #3b5998;

		    &:hover {
				background: #3b5998;
				color: #fff;
			}
		}
		
		i.fa.fa-instagram {
		    border: 2px solid #F9390A;
		    color: #F9390A;

		    &:hover {
				background: #F9390A;
				color: #fff;
			}
		}
		i.fa.fa-linkedin {
		    border: 2px solid #1B86BC;
		    color: #1B86BC;

		    &:hover {
				background: #1B86BC;
				color: #fff;
			}
		}
	}
}