/*

components/navigation.scss

*/

.navbar-default {
	padding: 18px 80px;
	background: #fff;
	border: none;

	@media screen and (max-width: 1100px) {
		padding: 18px 3%;
	}
}

.navbar-brand, .navbar-default .navbar-nav > li > a {
	text-transform: uppercase;
}

.navbar-default .navbar-nav > li {
	padding: 5px 25px;

	@media screen and (max-width: 950px) {
		padding: 15px 25px;
	}

	@media screen and (max-width: 850px) {
		padding: 15px;
	}

	@media screen and (max-width: 767px) {
		border-bottom: 1px solid #e7e7e7;
		padding: 24px 0;
		margin: 0 20px;
	}

	&:nth-last-child(1) {
		padding-right: 0;
	}
}

.navbar-default .navbar-nav > li > a {
	color: #bbb;
	font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
    font-weight: 400;
    font-style: normal;
    padding: 0;

    &:hover, &:active, &:focus {
    	text-decoration: none;
    }

    &:hover {
    	color: #1c1c1c;
    }
}

.navbar-default .navbar-brand {
	color: #1c1c1c;
	font-size: 22px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: 400;
    font-style: normal;

    @media screen and (max-width: 950px) {
    	width: 188px;
    	height: 68px;

    }
}

.navbar-default .navbar-collapse {
    margin-top: 10px;
}


/***** MOBILE NAV TOGGLE BUTTON *****/
.navbar-default .navbar-toggle {
    border: none;

    &:hover, &:active, &:focus {
    	background: transparent;
    }
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #bbb;

    &:hover, &:active, &:focus {
    	background-color: #bbb;
    	text-decoration: none;
    	outline: none;
    }
}




